<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977976551963-t66c8h0p24bdsvo3u94ef8vcc1cpqtgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977976551963-t66c8h0p24bdsvo3u94ef8vcc1cpqtgc</string>
	<key>API_KEY</key>
	<string>AIzaSyCT71UlCcfRAfgFdomCQTIqSLM6_bwrv0o</string>
	<key>GCM_SENDER_ID</key>
	<string>977976551963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.journal</string>
	<key>PROJECT_ID</key>
	<string>journal-39d8d</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-39d8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977976551963:ios:886ed988a4768cd312a6be</string>
</dict>
</plist>